<!-- Validation failure messages -->
<% if @private_parking.errors.any? %>
  <% @private_parking.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Private Parking #<%= @private_parking.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_private_parking/<%= @private_parking.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      
      

      <!-- Label and input for acceptee_user_id -->
      <div class="form-group">
        <label for="acceptee_user_id" class="control-label">
          Acceptee user
        </label>

        <%= select_tag(:acceptee_user_id, options_from_collection_for_select(User.all, :id, :email, @private_parking.acceptee_user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for date_avail -->
      <div class="form-group">
        <label for="date_avail" class="control-label">
          Date avail
        </label>

        <input type="text" id="date_avail" name="date_avail" placeholder="Date avail" class="form-control" value="<%= @private_parking.date_avail %>">
      </div>

      <!-- Label and input for time -->
      <div class="form-group">
        <label for="time" class="control-label">
          Time
        </label>

        <input type="text" id="time" name="time" placeholder="Time" class="form-control" value="<%= @private_parking.time %>">
      </div>

      <button class="btn btn-warning">
        Update Private Parking
      </button>
      or
      <a href="/private_parkings/<%= @private_parking.id %>">Cancel</a>
    </form>
  </div>
</div>
