<div class="page-header">
  <h1>
    Private parkings
    <a href="/private_parkings/new" class="btn btn-lg btn-success">New Private parking</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Offeree user</th>
        <th>Acceptee user</th>
        <th>Date avail</th>
        <th>Time</th>
        <th>Actions</th>
      </tr>

      <% @private_parkings.each do |private_parking| %>
      <tr>
        <td>
          <% if private_parking.offeree_user.present? %>
            <a href="/users/<%= private_parking.offeree_user.id %>">
              <%= private_parking.offeree_user.email %>
            </a>
          <% end %>
        </td>
        <td>
          <% if private_parking.acceptee_user.present? %>
            <a href="/users/<%= private_parking.acceptee_user.id %>">
              <%= private_parking.acceptee_user.email %>
            </a>
          <% end %>
        </td>
        <td><%= private_parking.date_avail %></td>
        <td><%= private_parking.time %></td>
        <td>
          <a href="/private_parkings/<%= private_parking.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == private_parking.offeree_user %>
            <a href="/private_parkings/<%= private_parking.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_private_parking/<%= private_parking.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @private_parkings, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
