<div class="page-header">
  <h3>Private Parking #<%= @private_parking.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Offeree user</dt>
      <dd><%= @private_parking.offeree_user_id %></dd>

      <dt>Acceptee user</dt>
      <dd><%= @private_parking.acceptee_user_id %></dd>

      <dt>Date</dt>
      <dd><%= @private_parking.date %></dd>

      <dt>Time</dt>
      <dd><%= @private_parking.time %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/private_parkings" class="btn btn-primary">
        Back
      </a>
      <a href="/private_parkings/<%= @private_parking.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_private_parking/<%= @private_parking.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
